.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 16, 0.16);
  z-index: 999;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: white;
  &.open {
    display: flex;
    border-radius: 20px;
  }
}

.modal--header {
  display: flex;
  margin: 24px 24px 24px 118px;
  gap: 80px;
}

.modal--title {
  margin: 0;
  color: #050510;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.modal__close-button {
  background: #f7f7f8;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  position: relative;
}

.modal__close-button::before,
.modal__close-button::after {
  content: "";
  position: absolute;
  width: 2px;
  border-radius: 30px;
  height: 16px;
  background-color: #c3c3c6;
  transform: rotate(45deg);
  top: 15%;
  left: 44.5%;
  transform-origin: center;
}

.modal__close-button::after {
  transform: rotate(-45deg);
}

.form-radio {
  position: relative;
  display: flex;
  gap: 12px;
}

.hidden-input {
  position: absolute;
  display: none;
}

.input__label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 52px;
  margin-bottom: 25px;
}

.input__label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff; /* Фоновый цвет для неактивного состояния */
  border: 2px solid #6534ff;
  border-radius: 50%;
  cursor: pointer;
}

.hidden-input:checked + .input__label {
  width: 10px;
  height: 10px;
  border: 7px solid #6534ff;
}
