.form {
  display: flex;
  max-width: 1248px;
  padding: 8px 12px;
  background: #f7f7f8;
  border-radius: 16px;
  margin: 0;
}

.form__search-icon {
  width: 24px;
  height: 24px;
}

.form__search-icon--blur {
  background-image: url(../../assets/icons/searchBlur.svg);
}

.form__search-icon--focus {
  background-image: url(../../assets/icons/search.svg);
}

.form__input {
  width: 100%;
  background: #f7f7f8;
  border: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #c3c3c6;
}

.form__input::placeholder {
  color: #c3c3c6;
}

.form__sort-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #f7f7f8;
  background-image: url(../../assets/icons/sortIcon.svg);
  background-position-y: center;
  background-repeat: no-repeat;
}
